/*
    cores:
    body-blue = #08162B
    salmon = #f29494
	snow = snow
	----------------------
	fonte: "Poppins", sans-serif
	----------------------
*/

/* VARIAVEIS */
:root {
	--body-blue: #08162b;
	--salmon: #f29494;
	--snow: snow;
	--poppins: "Poppins";
}

/* RESET CSS  */
html,
body,
figure,
div,
input,
li,
textarea,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

/* GENERAL */
body,
a {
	background-color: var(--body-blue);
	width: 80vw;
	margin: 0 auto;
	color: var(--snow);
	font-family: var(--poppins);
}

.hidden {
	display: none;
}

/* HEADER */
header,
.menu {
	display: flex;
}

header {
	margin-top: 24px;
	justify-content: space-between;
}

.menu {
	margin-top: 24px;
}

.menu__item {
  position: relative;
}

.menu__item:not(li:nth-child(4)):hover::before {
	content: "";
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: var(--salmon);
}

.menu__link {
	padding: 12px 24px;
}

body > header > nav > ul > li:nth-child(4) > a {
	background-color: var(--salmon);
}

/* MAIN  */
.product h1 {
	font-size: 56px;
}

.product h2 {
	font-weight: 300;
	font-size: 18px;
	text-transform: uppercase;
	color: var(--salmon);
	letter-spacing: 8px;
}

.product p {
	margin-top: 24px;
	font-size: 14px;
}

.product {
	display: flex;
}

.product__info,
.product__image {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.product__image img {
	width: 100%;
}

input[type="button"] {
	align-self: flex-start;
	margin-top: 24px;
	background-color: var(--salmon);
	outline: none;
	border: none;
	padding: 16px 32px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: var(--snow);
}

body > main > svg {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0.2;
}
